<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?define ProductVersion="$(env.CLI_VERSION)" ?>

  <?define ProductName = "Microsoft Graph CLI" ?>
  <?define ProductDescription = "Command-line tools for Microsoft Graph." ?>
  <?define ProductAuthor = "Microsoft Corporation" ?>
  <?define ProductResources = ".\resources\" ?>

  <Product Id="*"
           Name="$(var.ProductName)"
           Language="1033"
           Version="$(var.ProductVersion)"
           Manufacturer="$(var.ProductAuthor)"
           UpgradeCode="A0091D6E-C4F1-4912-B0FC-AE96E75F2A39">

    <Package InstallerVersion="200"
             Compressed="yes"
             InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." Schedule="afterInstallExecute" />

    <Media Id="1" Cabinet="WindowsAzureCLI.cab" EmbedCab="yes" CompressionLevel="high" />

    <Icon Id="AzureIcon" SourceFile="$(var.ProductResources)graph.ico" />

    <Property Id="ARPPRODUCTICON" Value="AzureIcon" />
    <Property Id="ARPHELPLINK" Value="https://docs.microsoft.com/cli/azure" />
    <Property Id="ARPURLINFOABOUT" Value="https://docs.microsoft.com/cli/azure/overview" />
    <Property Id="ARPURLUPDATEINFO" Value="https://docs.microsoft.com/cli/azure/overview" />
    <Property Id="ApplicationFolderName" Value="Microsoft SDKs\Microsoft Graph" />
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />

    <Feature Id="ProductFeature"
             Title="Microsoft Graph CLI"
             Level="1"
             AllowAdvertise="no">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <!--Custom action to propagate path env variable change-->
    <Binary Id="PropagateEnvChangeExe" SourceFile=".\propagate_env_change\propagate_env_change.exe" />
    <Property Id="WixQuietExecCmdLine" Value="propagate_env_change.exe"/>
    <!--Ignoring the return value if case there is app-hang we can't control -->
    <CustomAction Id="PropagateEnvChange"
                  BinaryKey="PropagateEnvChangeExe"
                  ExeCommand="propagate_env_change.exe"
                  Execute="commit"
                  Return="ignore"/>
    <InstallExecuteSequence>
      <Custom Action="PropagateEnvChange" Before="InstallFinalize" />
    </InstallExecuteSequence>

    <!-- User Interface -->
    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProductResources)CLI_LICENSE.rtf"/>
    <WixVariable Id="WixUIDialogBmp" Value="$(var.ProductResources)Dialog.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="$(var.ProductResources)Banner.bmp" />

    <UIRef Id="WixUI_Minimal"/>
    <UIRef Id="WixUI_ErrorProgressText"/>

  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="SDKFOLDER" Name="Microsoft SDKs">
          <Directory Id="MSGRAPHFOLDER" Name="Msgraph">
            <Directory Id="MSGRAPHCLIFOLDER" Name="CLI">
              <Directory Id="DynamicCliDir"/>
              <Directory Id="BIN" Name="Bin" />
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="MsgraphCliSettingsGroup">
      <Component Id="RemoveCLIFolder"
                 Directory="DynamicCliDir"
                 Guid="{8FED52CB-6732-466A-8F3E-5EDEE6D187C4}">
        <RemoveFolder Id="DynamicCliDir" On="uninstall" />
      </Component>
      <Component Id="RemoveMsgraphCLIFolder"
                 Directory="MSGRAPHCLIFOLDER"
                 Guid="{9A0EAF0A-0982-4749-AF05-871AF8190D27}">
        <RemoveFolder Id="MSGRAPHCLIFOLDER" On="uninstall" />
      </Component>
      <Component Id="MsgraphCliSystemPath"
                 Directory="DynamicCliDir"
                 Guid="{7B59A756-07CA-4299-A9DC-671C4E23921F}">
        <Environment Id="MsgraphCliAddedToPATH"
                     Name="PATH"
                     Value="[DynamicCliDir]wbin"
                     Permanent="no"
                     Part="first"
                     Action="set"
                     System="yes" />
        <CreateFolder />
      </Component>
      <Component Id="MsgraphCliRegistry"
                 Directory="DynamicCliDir"
                 Guid="{60D547F6-7993-4A3B-B1EE-E4100FBAED66}">
        <RegistryValue Root="HKCU"
                       Key="Software\Microsoft\$(var.ProductName)"
                       Name="installed"
                       Type="integer"
                       Value="1"
                       KeyPath="yes"/>
      </Component>
      <Component Id="MsgraphCliVersion"
                 Directory="DynamicCliDir"
                 Guid="{4F8E016A-1334-4641-9621-03A4DF3C438F}">
        <RegistryValue Root="HKLM"
                       Key="Software\Microsoft\$(var.ProductName)"
                       Name="version"
                       Type="string"
                       Value="$(var.ProductVersion)"
                       KeyPath="yes"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ProductComponents">
      <ComponentGroupRef Id="MsgraphCliComponentGroup"/>
      <ComponentGroupRef Id="MsgraphCliSettingsGroup"/>
    </ComponentGroup>

  </Fragment>
</Wix>
