parameters:
  - name: 'useCache'
    type: boolean
    default: true
  - name: restorePath
    type: "string"
    default: $(Pipeline.Workspace)/.nuget/packages
  - name: vstsFeedName
    type: "string"
    default: "" # Format projectName/feedName for project scoped feeds, feedName for organization scoped feed
  - name: extraRestoreArgs
    type: "string"
    default:
  - name: enabled
    type: string
    default: 'true'

steps:

  - pwsh: |
      Write-Verbose -Verbose "useCache = '${{parameters.useCache}}'"
      Write-Verbose -Verbose "restorePath = '${{parameters.restorePath}}'"
      Write-Verbose -Verbose "extraRestoreArgs = '${{parameters.extraRestoreArgs}}'"
      Write-Verbose -Verbose "enabled = '${{parameters.enabled}}'"
    displayName: Testing parameters

  - ${{ if eq(parameters.useCache, true) }}:
    - task: Cache@2
      displayName: 'Load NuGet Cache'
      inputs:
        key: 'nuget | "$(Agent.OS)" | **/packages.lock.json,!**/bin/**,!**/obj/**'
        restoreKeys: |
          nuget | "$(Agent.OS)"
          nuget
        path: '${{parameters.restorePath}}'
      condition: and(succeeded(), eq(parameters.enabled, true))
    - task: DotNetCoreCLI@2
      displayName: Restore packages (Cache enabled)
      inputs:
        command: restore
        ${{ if gt(length(parameters.vstsFeedName), 0) }}:
          feedsToUse: select
          feedRestore: ${{parameters.vstsFeedName}}
        includeNuGetOrg: true
        workingDirectory: $(Build.SourcesDirectory)
        restoreArguments: --use-lock-file --locked-mode ${{parameters.extraRestoreArgs}}
        restoreDirectory: ${{parameters.restorePath}}
      condition: and(succeeded(), eq(parameters.enabled, true))
  - ${{ else }}:
    - task: DotNetCoreCLI@2
      displayName: Restore packages (No cache)
      inputs:
        command: restore
        ${{ if gt(length(parameters.vstsFeedName), 0) }}:
          feedsToUse: select
          feedRestore: ${{parameters.vstsFeedName}}
        includeNuGetOrg: true
        workingDirectory: $(Build.SourcesDirectory)
        noCache: true
        restoreArguments: --use-lock-file --locked-mode ${{parameters.extraRestoreArgs}}
      condition: and(succeeded(), eq(parameters.enabled, true))
