name: Sign Binary

on:
  workflow_call:
    inputs:
      tag:
        description: 'The tag with binaries to sign'
        required: true
        type: string
  workflow_dispatch:
    inputs:
      tag:
        description: 'The tag with binaries to sign'
        required: true
        type: string

jobs:
    build:
        name: Call Azure Pipeline
        runs-on: ubuntu-latest
        steps:
        - name: Azure Pipelines Action
          uses: Azure/pipelines@v1
          with:
            azure-devops-project-url: https://dev.azure.com/microsoftgraph/Graph%20Developer%20Experiences
            azure-pipeline-name: 'Code Signing msgraph-cli'
            azure-devops-token: ${{ secrets.AZURE_DEVOPS_TOKEN }}
            azure-pipeline-variables: '{"tag": "${{github.event.inputs.tag}}"}'